.ext_btn
{
    background-color: var(--clr-btn);
    color: var(--clr-text);
    text-decoration: none;
    border-radius: 16px;
    display: inline-flex;
    gap: 0.4em;
    padding-inline: 0.3em;
    padding-block: 0.4em;
    align-items: center;
    margin-block: 0.4em;
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
}

.ext_btn svg
{
    fill: var(--clr-text);
    height: 1.9rem;
}

.ext_btn:hover, .ext_btn:focus-visible
{
    outline: var(--clr-text) solid 2px;
    outline-offset: 0.2em;  
}