@import url("normalize.css");

:root
{
  color-scheme: dark;
  --clr-hsl-purple: 278, 35%, 47%;
  --clr-hsl-blue: 224, 25%, 48%;
  --clr-hsl-black: 240, 21%, 8%;
  --clr-hsl-white: 240, 100%, 99%;
  --clr-hsl-gray: 0, 0%, 65%;

  --clr-background: hsl(var(--clr-hsl-black));
  --clr-accent1: hsl(var(--clr-hsl-purple));
  --clr-accent2: hsl(var(--clr-hsl-blue));
  --clr-text: hsl(var(--clr-hsl-white));
  --clr-under-text: hsl(var(--clr-hsl-gray));
  --clr-selection: hsl(64, 82%, 59%);

  --clr-github: hsl(215, 21%, 33%);
  --clr-itch: hsl(0, 94%, 67%);
  --clr-pwa: hsl(278, 35%, 47%);
  --clr-googleplay: hsl(147, 62%, 30%);
}

/* light-theme */
:root.light_mode
{
  color-scheme: light;
  --clr-hsl-purple: 278, 45%, 70%;
  --clr-hsl-blue: 224, 58%, 66%;
  --clr-background: hsl(var(--clr-hsl-white));
  --clr-text: hsl(var(--clr-hsl-black));

  --clr-github: hsl(215, 21%, 63%);
  --clr-itch: hsl(0, 94%, 75%);
  --clr-pwa: hsl(278, 45%, 70%);
  --clr-googleplay: hsl(147, 62%, 54%);
}


*, *::before, *::after
{
  box-sizing: border-box;
}

::selection
{
  background: var(--clr-selection);
  color: var(--clr-background);
}

/* scrollbar */
::-webkit-scrollbar
{
  width: 13px;
}

::-webkit-scrollbar-track
{
  background: var(--clr-under-text);
  /* border-radius: 100vw; */
  /* margin-block: 0.2em; */
}

::-webkit-scrollbar-track:hover
{
  background: var(--clr-text);
}

::-webkit-scrollbar-thumb
{
  background: var(--clr-background);
  border: 1.5px solid transparent;
  background-clip: content-box;
  border-radius: 100vw;
}

html
{
  background: var(--clr-background);
  color: var(--clr-text);
  scroll-behavior: smooth;
}

/* footer */
div:has( > footer)
{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* andere */
svg
{
  fill: var(--clr-under-text);
  width: 2rem;
}

svg:hover, a:focus svg
{
  transition: fill .2s ease;
  fill: var(--clr-text);
}

a
{
  font-weight: bold;
  color: rgb(59,130,246);
  text-decoration: underline;
}

button
{
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background-color: transparent;
}
