@import url("normalize.css");

:root
{
  --clr-purple: 278, 35%, 47%;
  --clr-blue: 224, 25%, 48%;
  --clr-black: 240, 21%, 8%;
  --clr-white: 240, 100%, 99%;
  --clr-gray: 0, 0%, 65%;
  --clr-background: hsla(var(--clr-black));
  --clr-accent1: hsla(var(--clr-purple));
  --clr-accent2: hsla(var(--clr-blue));
  --clr-text: hsla(var(--clr-white));
  --clr-under-text: hsla(var(--clr-gray));
  --clr-selection: hsla(64, 82%, 59%);
}

/* light-theme */
/* @media (prefers-color-scheme: dark)
{
  :root
  {
  --clr-background: hsla(var(--clr-white));
  --clr-text: hsla(var(--clr-black));
  }
} */


*, *::before, *::after
{
  box-sizing: border-box;
}

::selection
{
  background: var(--clr-selection);
  color: var(--clr-background);
}

/* scrollbar */
::-webkit-scrollbar
{
  width: 13px;
}

::-webkit-scrollbar-track
{
  background: var(--clr-under-text);
  /* border-radius: 100vw; */
  /* margin-block: 0.2em; */
}

::-webkit-scrollbar-track:hover
{
  background: var(--clr-text);
}

::-webkit-scrollbar-thumb
{
  background: var(--clr-background);
  border: 1.5px solid transparent;
  background-clip: content-box;
  border-radius: 100vw;
}

html
{
  background: var(--clr-background);
  color: var(--clr-text);
  scroll-behavior: smooth;
}

/* footer */
div:has( > footer)
{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* andere */
svg
{
  fill: var(--clr-under-text);
  width: 2rem;
}

svg:hover, a:focus svg
{
  transition: fill .2s ease;
  fill: var(--clr-text);
}

a
{
  font-weight: bold;
  color: rgb(59,130,246);
  text-decoration: underline;
}
