.skip_nav
{
  position: absolute;
  width: 100%;
  text-align: center;
  transform: translateY(-120%);
  transition: transform 60ms ease-in;
}

.skip_nav:focus
{
  transform: translateY(-0%);
}

/* header */
.main_nav li
{
  list-style: none;
  display: inline;
}

.main_nav a
{
  text-decoration: none;
  color: var(--clr-text);
  font-weight: bold;
  border: 2px solid var(--clr-shadow);
  padding: .1rem .4rem;
  border-radius: 100px / 99px;
}

.main_nav a:hover, .main_nav a:focus-visible
{
  transition: outline .1s ease;
  outline: var(--clr-text) solid 2px;
  outline-offset: 0.2em;  
}

.main_nav ul
{
  padding: 0px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
}

/* desktop styles */
@media screen and (min-width: 800px)
{
  /* nav */
  .main_nav ul
  {
    justify-content: end;
    grid-gap: 2em;
    margin-right: 4em;
  }
}