/* intro */
.intro
{
  display: grid;
  justify-items: center;
  align-items: center;
}

.intro_info
{
  display: grid;
  justify-items: center;
}

.PF
{
  position: relative;
  width: 60%;
  aspect-ratio: 1/1;
}

.PF img
{
  box-shadow: -5px 7px 0px 0px var(--clr-text);
  border-radius: 50%;
  object-fit: cover;
}

.naam
{
  font-weight: 700;
  font-size: 32px;
  margin-top: .5em;
  margin-bottom: 0em;
}

.geendokter
{
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  color: var(--clr-under-text);
  margin-top: .3em;
  margin-bottom: 0em;
}

.intro_text
{
  text-align: center;
  margin-block: 1.9em;
  padding-inline: 1em;
}


/* projecten & CV */
.projecten, .CV
{
  border-top: 2.1px solid var(--clr-text);
}

/* projecten */
.projecten
{
  --clr-area: var(--clr-background);
  background-color: var(--clr-area);
  display: grid;
  justify-items: center;
}

.projecten h2
{
  background-color: var(--clr-text);
  color: var(--clr-area);
  margin-block-start: 0em;
  margin-block-end: 1em;
  font-size: 1.6rem;
  padding: .6em;
  border-radius: 0px 0px 6px 6px;
}

.projecten > div:nth-of-type(1n+2)::before
{
  content: "";
  width: 92%;
  margin-inline: auto;
  margin-block-end: 1em;
  display: block;
  height: 2px;
  background: var(--clr-under-text);
  border-radius: 2px;
}

/* CV */
.CV
{
  --clr-area: var(--clr-background);
  background-color: var(--clr-area);
  display: grid;
  justify-items: center;
}

.CV h2
{
  background-color: var(--clr-text);
  color: var(--clr-area);
  margin-block-start: 0em;
  margin-block-end: 1em;
  font-size: 1.6rem;
  padding: .6em;
  border-radius: 0px 0px 6px 6px;
}

.CV img
{
  border-radius: 6px;
}

.download_button
{
  color: var(--clr-text);
  background: var(--clr-accent2);
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  padding: .6em;
  margin-block: .7em;
}

.download_button:hover, .download_button:focus-visible
{
  transition: outline .1s ease;
  outline: var(--clr-text) solid 2px;
  outline-offset: 0.2em;  
}

/* desktop styles */
@media screen and (min-width: 600px)
{
  .projecten
  {
    padding-inline: 3%;
  }
}

@media screen and (min-width: 800px)
{
  /* intro */
  .intro
  {
    margin-block: 4em;
    margin-left: 3.2em;
    grid-template-areas: "intro_info img";
    grid-template-columns: 2fr 1fr;
  }

  .PF
  {
    grid-area: img;
  }

  .intro_info
  {
    grid-area: intro_info;
    justify-items: start;
    align-content: center;
  }

  .intro_text
  {
    text-align: left;
    margin-block: 1em;
    padding-inline: 0em;
  }

  /* projecten */
  .projecten
  {
    padding-bottom: 1.7em;
    grid-gap: 1.5em;
  }

  .projecten > div:nth-of-type(1n+2)::before
  {
    width: 80%;
  }

  /* CV */
  .CV img
  {
    max-width: 60vw;
  }
}
