.main
{
  width: 100%;
}

.project_preview
{
  width: 100%;
  display: grid;
  justify-items: start;
  align-items: center;
}

.project_image
{
  position: relative;
  width: 89%;
  aspect-ratio: 460/329;
  margin-inline: auto;
}

.project_image img
{
  border-radius: 7px;
}

.project_info
{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.project_title
{
  font-weight: 700;
  font-size: 1.3rem;
  margin-inline-start: .5em;
  margin-top: 0.5em;
  margin-bottom: 0em;
}

.project_beschrijving
{
  padding-inline: 1.1em;
  margin-top: 0em;
}

.tags
{
  display: flex;
  margin-inline: .7em;
  margin-block: 0.3em;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .3em;
  align-items: center;
  min-height: 2.2em;
}

.read_more
{
  background-color: var(--clr-accent1);
  text-decoration: none;
  color: var(--clr-text);
  border-radius: 15px;
  padding: 0.4em;
  display: inline-block;
  align-self: center;
  margin-block: 0.8em;
}

.read_more:hover, .read_more:focus-visible
{
    transition: outline .1s ease;
    outline: var(--clr-text) solid 2px;
    outline-offset: 0.2em;  
}

/* desktop styles */
@media screen and (min-width: 800px)
{
  .project_preview
  {
    grid-auto-flow: column;
    grid-template-columns: 2fr 3fr;
    grid-template-areas:
    "project-image project-info";
  }

  .project_info
  {
    grid-area: "project-info";
  }

  .project_image
  {
    grid-area: "project-image";
    width: 70%;
    margin-left: auto;
    margin-right: 1em;
  }

  .project_beschrijving
  {
    margin-top: 1.8em;
  }

  .read_more
  {
    align-self: flex-start;
    margin-block: 0em;
    margin-inline-start: 1.1em;
  }
}
